<p class="center">Agregar Saldo</p>

<ng-container>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div padding>
              <input type="text" placeholder="Usuario" name="user_id" ngModel required>
              <input type="number" placeholder="precio" name="precio" ngModel required>
          </div>
          <div padding>
            <input type="submit"
              value="Agregar">
          </div>
      </form>
</ng-container>

