<p class="center">Compra</p>


<ng-container>

<kbd> Para comprar introduzca el codigo del producto y el id de usuario</kbd>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div padding>
              <input type="text" placeholder="Codigo producto" name="product_id" ngModel required>
              <input type="text" placeholder="ID Usuario" name="user_id" ngModel required>
          </div>
          <div padding>
            <input type="submit"
              value="Comprar">
          </div>
      </form>
<hr>
<h3>Lista de precios</h3>
<table *ngIf="data">
  <tr>
    <td><b> Descripción </b></td>
    <td><b> Precio</b></td>
    <td><b> Codigo</b></td>
  </tr>

  <tr *ngFor="let item of data">
    <td> {{item.nombre}} </td>
    <td> {{item.precio}} </td>
    <td> {{item.id}} </td>
  </tr>
</table>

</ng-container>

