<p class="center">Editar Nombre</p>

<ng-container>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div padding>
              <input type="text" placeholder="ID Usuario" name="user_id" ngModel required>
              <input type="text" placeholder="Nombre Usuario" name="nombre" ngModel required>
          </div>
          <div padding>
            <input type="submit"
              value="Editar Nombre">
          </div>
      </form>
</ng-container>

