<p class="center">Historico</p>

<ng-container>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div padding>
              <input type="text" placeholder="ID Usuario" name="user_id" ngModel required>
          </div>
          <div padding>
            <input type="submit"
              value="Consultar">
          </div>
      </form>
<hr>
<table *ngIf="data">
  <tr>
    <td><b> Descripción </b></td>
    <td><b> Compras </b></td>
    <td><b> Recargas </b></td>
  </tr>

  <tr *ngFor="let item of data">
    <td> {{item.producto}} </td>
    <td *ngIf="item.tipo == 1" colspan="2"> {{item.precio}} </td>
    <td *ngIf="item.tipo == 0" colspan="2" style="direction: rtl"> {{item.precio}} </td>
  </tr>
  <tr>
    <td><b> Total </b></td>
    <td></td>
    <td><b> {{ total }}</b></td>
  </tr>

</table>

</ng-container>

